.logo{
  width:300px;
  padding: 0px 70px !important;
}
.nav-link{
  padding: 0px 30px !important;
}
nav{
  background-color: black;
  font-size: 20px;
}
nav a{
  color: white;
}
nav a:hover{
  color: rgb(199, 130, 3);
  transition: 0.4s;
}
body{
  padding-top: 60px;
}
